* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #060ab2;
  display: flex;
}

.memory-game {
  height: 640px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* body display flex + margin auto here centers the game */
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 30px;
  background: #39b578;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* img {
  width: 100px;
} */
