* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #060ab2;
  display: block;
  position: relative;
}

.memory-game {
  height: 549px;
  width: 402px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* body display flex or block + margin auto here centers the game */
  perspective: 1000px;
  border: 3px solid white;
  flex-direction: column;
  justify-content: center;
}

.memory-card {
  width: calc(260px * 0.285);
  height: calc(310px * 0.285);
  position: relative;
  margin: auto;
  transform: scale(1);
  transform: translateX(1px);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

header {
  height: 30px;
  width: 402px;
  border: 3px solid white;
  color: white;
  justify-content: center;
  margin: 10px auto 10px auto;
}

h3 {
  text-align: left;
  height: 30px;
  width: 402px;
  margin-left: auto;
  margin-right: auto;
  /* body display flex + margin auto here centers the game */
}

#score {
  display: ;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 17px;
  background: #39b578;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* @media only screen and (max-width: 800px) {
  .memory-game {
    height: 1068px;
    width: 768px;
    background-color: red;
  }
  .memory-card {
    width: calc(25% - 10px);
    height: calc(15% - 10px);
  }
} */
