* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #060ab2;
  display: flex;
}

.memory-game {
  height: 800px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* body display flex + margin auto here centers the game */
  perspective: 1000px;
  border: 3px solid white;
  flex-direction: column;
}

.memory-card {
  width: calc(260px * 0.4);
  height: calc(310px * 0.4);
  position: relative;
  margin: auto;
  justify-content: space-around;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 25px;
  background: #39b578;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 800px) {
  .memory-game {
    height: 1068px;
    width: 768px;
    background-color: red;
  }
  .memory-card {
    width: calc(25% - 10px);
    height: calc(15% - 10px);
  }
}
